<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.dao.${table.className}Mapper">

    <select id="query" resultType="${package}.entity.${table.className}">
        select * from ${table.sqlName}
        <where>
        <#list table.columns as column>
            <if test="${column.columnNameLower}!=null <#if column.isStringColumn> and ${column.columnNameLower}!=''</#if>">
                and ${column.sqlName} = ${r"#{"}${column.columnNameLower}}
            </if>
        </#list>
        </where>
    </select>

    <select id="queryById" resultType="${package}.entity.${table.className}">
        select * from ${table.sqlName}
        where id = ${r"#{"}id}
    </select>


    <insert id="insert" keyProperty="id" useGeneratedKeys="true" keyColumn="id" parameterType="${package}.entity.${table.className}">
        INSERT INTO ${table.sqlName}
        <trim prefix="(" suffixOverrides="," suffix=")">
        <#list table.columns as column>
            <#if column.sqlName!='id' >
            ${column.sqlName},
            </#if>
        </#list>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
        <#list table.columns as column>
        <#if column.sqlName!='id' >
            ${r"#{"}${column.columnNameLower}},
        </#if>
        </#list>
        </trim>
    </insert>

    <update id="updateById" parameterType="${package}.entity.${table.className}">
        update  ${table.sqlName}
        <set>
        <#list table.columns as column>
            <#if column.sqlName!='id' >
            <if test="${column.columnNameLower}!=null  <#if column.isStringColumn > and ${column.columnNameLower}!=''</#if> ">
                ${column.sqlName} = ${r"#{"}${column.columnNameLower}},
            </if>
            </#if>
        </#list>
        </set>
        where id = ${r"#{"}id}
    </update>


    <delete id="deleteById" >
        DELETE FROM ${table.sqlName}
        where id = ${r"#{"}id}
   </delete>

    <delete id="delete"  parameterType="${package}.entity.${table.className}">
    DELETE FROM ${table.sqlName}
    where id = ${r"#{"}id}
    </delete>


</mapper>

